:root {
  --primary: #ff6600;
  --secondary: #ff771f;
  --tertiary: #ff8c3c;
  --background: #ffaf7a;
  --primary-text: #003f5a;
  --bold-text: #000;
  


  --dark-primary:#121212;
  --dark-secondary: #404040;
  --dark-tertiary: #282828;;

 --dark-background:#282828 ;
  --dark-primary-text: #B3B3B3;
  --dark-bold-text: #ffffff;

  --white: #ffffff;
  --black:#000;
}


*{
margin:0px;
padding:0px;
}

a{
  text-decoration: none;
}

body{
  background-color: var(--background);
}